<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../styles/app-bar-top.css">
    <title>Document</title>
</head>

<body>
    <div class="content">
        <div class="jframe">
            <img src="./../assets/icons/icons8-hilandero-cuadrado-24.png" alt="">
            <img src="./../assets/icons/icons8-circle-square-loader-24.png" alt="">
            <img src="./../assets/icons/icons8-triángulo-40.png" alt="">
        </div>
        <div class="page">
            <div class="menu">
                <img src="./../assets/icons/icons8-patrones-despojados-50.png" alt="">
            </div>
            <p>Page title</p>
            <div class="icons-end">
                <img src="./../assets/icons/icons8-me-gusta-50.png" alt="">
                <img src="./../assets/icons/icons8-búsqueda-50.png" alt="">
                <img src="./../assets/icons/icons8-tres-puntos-50.png" alt="">
            </div>
        </div>
    </div>
</body>

</html>