<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../styles/style.css">
    <title>Document</title>
</head>
<body>
    <p>Soy otro párrafo</p>
<div>Soy un div</div>
<div class="div-two">
<p>Soy un párrafo adyacente a div</p>
<p>Soy otro párrafo</p>
<p>Soy otro párrafo</p>
</div>
<hr/>
<p>Soy otro párrafo</p>
<div>Soy un div</div>
<div class="div-two">
<p>Soy un párrafo adyacente a div</p>
<p>Soy otro párrafo</p>
<p>Soy otro párrafo</p>
</div>
<hr/>
<p>Soy otro párrafo</p>
<div>Soy un div</div>
<div class="div-two">
<p>Soy un párrafo adyacente a div</p>
<p>Soy otro párrafo</p>
<p>Soy otro párrafo</p>
<hr/>
</div>
<p>Soy otro párrafo</p>
<div>Soy un div</div>
<div class="div-two">
<p>Soy un párrafo adyacente a div</p>
<p>Soy otro párrafo</p>
<p>Soy otro párrafo</p>
</div>
<hr/>
</body>
</html>